.cardContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cardItem {
    width: 21%;
    margin-bottom: 3.5rem;
   
}


.loader {
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
